---
interface props {
  name: String;
  details: string;
  price: string;
}

const { price, name, details } = Astro.props;
---

<article
  class="mx-2 my-4 shadow-xl rounded-xl flex justify-between items-center"
>
  <div class="p-3 bg-neutral-50">
    <h3 class="font-bold">{name}</h3>
    <p class="text-xs text-zinc-500">{details}</p>
  </div>
  <span class="px-10 py-3">
    <p class="font-bold">{price}</p>
  </span>
</article>
