---
interface props {
  title: String;
  bg: string;
}

const { title, bg } = Astro.props;
---

<figure
  class=`mt-20 fondo relative w-full h-72 flex justify-center items-center bg-cover ${bg} lg:h-[500px] lg:max-w-[1280px] lg:mx-auto`
>
  <h1 class="text-5xl lg:text-8xl text-white font-extralight drop-shadow-xl">
    {title}
  </h1>
</figure>
