---
interface Props {
  titulo: String;
  img: String;
  colorandflex: String;
  link: string;
}

const { titulo, img, colorandflex, link } = Astro.props;
---

<a href={link}>
  <article
    class=`flex items-center justify-between h-32 m-3 rounded-xl shadow-lg overflow-hidden ${colorandflex}`
  >
    <img src=`${img}` alt="" class="h-28 mx-5" />
    <div class="flex justify-center items-center h-full w-1/2 bg-white">
      <p class="text-2xl font-normal">{titulo}</p>
    </div>
  </article>
</a>

<style>
  /* .text-shadow {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  } */
</style>

<!-- /galletas/monstruosas/nutella_sal_marina.png -->
<!-- /brownies/brookieDeNutellaSalMarina.png -->
