---
interface Props {}

const {} = Astro.props;
---

<section
  class="mt-20 fondo relative w-full h-72 flex justify-center items-center"
>
  <img src="/quieroGalletaLogo.svg" alt="" class="h-24" />
</section>

<style>
  .fondo {
    background-image: url("/fondos/fondo1.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
