---
interface Props {}

const {} = Astro.props;
---

<section
  class="mt-20 lg:mt-32 lg:mb-10 lg:rounded-3xl fondo relative w-full h-72 flex justify-center items-center lg:h-[500px] lg:max-w-[1280px] lg:mx-auto bg-[url('/fondos/fondo1.svg')] lg:bg-[url('/fondos/fondoInicioD.png')]"
>
  <img src="/quieroGalletaLogo.svg" alt="" class="h-24" />
</section>

<style>
  .fondo {
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
