---
interface Props {}

const {} = Astro.props;
---

<section>
  <h1 class="text-center text-5xl font-bold text-shadow mt-5">Menu</h1>
  <p class="text-center mt-3 font-bold">¡Monstruosamente deliciosas!</p>

  <a href="Menu/Galletas">
    <article
      class="flex items-center justify-between h-32 m-3 bg-green-200 rounded-xl shadow-sm overflow-hidden"
    >
      <img
        src="/galletas/monstruosas/nutella_sal_marina.png"
        alt=""
        class="h-28 ml-5"
      />
      <div class="flex justify-center items-center h-full w-1/2 bg-white">
        <p class="text-3xl font-normal text-shadow">Galletas</p>
      </div>
    </article>
  </a>

  <a href="Menu/Brownies">
    <article
      class="flex flex-row-reverse items-center justify-between h-32 m-3 bg-blue-300 rounded-xl shadow-sm overflow-hidden"
    >
      <img
        src="/brownies/brookieDeNutellaSalMarina.png"
        alt=""
        class="h-28 mr-5"
      />
      <div class="flex justify-center items-center h-full w-1/2 bg-white">
        <p class="text-3xl font-normal text-shadow">Brownies</p>
      </div>
    </article>
  </a>

  <a href="Menu/Bebidas">
    <article
      class="flex items-center justify-between h-32 m-3 bg-red-300 rounded-xl shadow-sm overflow-hidden"
    >
      <img
        src="/bebidas/OtrasBebidas-removebg-preview.png"
        alt=""
        class="h-28 ml-5"
      />
      <div class="flex justify-center items-center h-full w-1/2 bg-white">
        <p class="text-3xl font-normal text-shadow">Bebidas</p>
      </div>
    </article>
  </a>
</section>

<style></style>
