<section class="flex flex-col relative m-3 mt-10 shadow-xl">
  <a
    href="https://www.instagram.com/quierogalleta_/ "
    target="_blank"
    class="bg-white text-center -top-7 text-xl absolute w-2/3 left-1/2 -translate-x-1/2 rounded-lg py-2 shadow-lg"
    >Siguenos en
    <b>@quierogalleta_</b>
  </a>

  <img src="/fondos/fondo2.png" alt="" class="rounded-xl" />
</section>
