<section
  class="flex flex-col relative m-3 mt-10 lg:mt-3 shadow-xl lg:w-1/3 lg:max-h-[520px]"
>
  <a
    href="https://www.instagram.com/quierogalleta_/ "
    target="_blank"
    class="bg-white text-center -top-7 lg:bottom-5 lg:top-auto text-xl absolute w-2/3 left-1/2 -translate-x-1/2 rounded-lg py-2 shadow-lg"
    >Siguenos en
    <b>@quierogalleta_</b>
  </a>

  <img src="/fondos/fondo2.png" alt="" class="rounded-xl lg:w-full lg:h-full" />
</section>
