<footer class="bg-zinc-100 flex flex-col items-center">
  <article
    class="flex flex-col justify-evenly items-center border-b border-black px-5 py-2"
  >
    <img src="/quieroGalletaLogo.svg" alt="" class="h-12 my-4" />
    <p>Abierto todos los días de 10am a 9pm</p>
    <p>sedes:</p>
    <p>C.C. Regional, Maracay.</p>
    <p>C.C. Unicentro, Maracay.</p>
  </article>
  <a
    href="https://www.instagram.com/quierogalleta_/"
    target="_blank"
    class="my-4"><img src="/icons/insta.png" alt="" /></a
  >
</footer>
