---
import Layout from "../../layouts/Layout.astro";
import { HeaderNav } from "../../components/header";
import HeroImg from "../../components/menu/heroImg.astro";
import Footer from "../../components/footer.astro";
import MenuSection from "../../components/menu/menuBebida.astro";
---

<Layout title="QG Menu de Bebidas">
  <HeaderNav client:visible />
  <HeroImg title="Bebidas" bg="bg-[url('/fondos/fondobebidas.png')]" />
  <p
    class="my-2 bg-white py-2 px-8 mx-8 text-center shadow-lg rounded-lg lg:w-96 lg:mx-auto lg:my-5"
  >
    ¡Escoge tu bebida favorita!
  </p>
  <section
    class="flex flex-col lg:flex-row lg:justify-center lg:mb-10 lg:flex-wrap"
  >
    <MenuSection
      link="Cafe_caliente"
      titulo="Cafe caliente"
      tipoBebida="bg-[url('/bebidas/CafeCaliente.jpg')]"
    />
    <MenuSection
      link="Cafe_Frio"
      titulo="Cafe frio"
      tipoBebida="bg-[url('/bebidas/CafeFrio.jpg')] flex-row-reverse"
    />
    <MenuSection
      link="Te_Infusiones"
      titulo="Te Infusiones"
      tipoBebida="bg-[url('/bebidas/TeInfusiones.jpg')]"
    />
    <MenuSection
      link="Otras_Bebidas"
      titulo="Otras bebidas"
      tipoBebida="bg-[url('/bebidas/OtrasBebidas.jpg')]"
    />
    <figure class="m-3 lg:hidden">
      <img src="/fondos/Mverde.png" alt="" class="rounded-2xl" />
    </figure>
  </section>

  <Footer />
</Layout>
