---
import Layout from "../../layouts/Layout.astro";
import { HeaderNav } from "../../components/header.jsx";
import HeroImg from "../../components/menu/heroImg.astro";
import Footer from "../../components/footer.astro";
import CardBebida from "../../components/menu/bebidas/CardCafeCaliente.astro";
import { Caliente } from "../../info/bebidas.js";
---

<Layout title="Bebidas Cafe caliente">
  <HeaderNav client:visible />
  <HeroImg title="Cafe caliente" linkImg="/fondos/galletasfondo.png" />
  <article
    class="mt-16 bg-white py-2 px-8 mx-4 text-center shadow-xl rounded-lg"
  >
    <h3 class="font-bold">Agrega crema batida por solo 0,50$</h3>
  </article>
  <section class="flex flex-col">
    {
      Caliente.map((bebida) => (
        <CardBebida
          name={bebida.name}
          details={bebida.details}
          price={bebida.price}
        />
      ))
    }
    <figure class="m-3">
      <img src="/fondos/galletasfondo2.png" alt="" class="rounded-2xl" />
    </figure>
  </section>

  <Footer />
</Layout>
