---
import Layout from "../../layouts/Layout.astro";
import { HeaderNav } from "../../components/header";
import HeroImg from "../../components/menu/heroImg.astro";
import Footer from "../../components/footer.astro";
import MenuSection from "../../components/menu/menuGalleta.astro";
---

<Layout title="QG Menu de Galletas">
  <HeaderNav client:visible />
  <HeroImg title="Galletas" linkImg="/fondos/galletasfondo.png" />
  <p class="mt-16 bg-white py-2 px-8 mx-8 text-center shadow-xl rounded-lg">
    Todas nuestras galletas pesan entre 70 y 80 gramos
  </p>
  <section class="flex flex-col">
    <h1 class="text-center text-4xl font-bold text-shadow mt-5">
      Menu de Galletas
    </h1>
    <MenuSection
      link="Monstruosas"
      titulo="Monstruosas"
      img="/galletas/monstruosas/nutella_sal_marina.png"
      colorandflex="bg-red-200"
    />
    <MenuSection
      link="Especiales"
      titulo="Especiales"
      img="/galletas/especiales/DulceDeLeche.png"
      colorandflex="bg-blue-200 flex-row-reverse"
    />
    <MenuSection
      link="Saludables"
      titulo="Saludables"
      img="/galletas/saludables/ChispasDeChocolateSaludable.png"
      colorandflex="bg-green-200"
    />
    <figure class="m-3">
      <img src="/fondos/Mverde.png" alt="" class="rounded-2xl" />
    </figure>
  </section>

  <Footer />
</Layout>
